<div class="page-header">
  <h1>Membership #<%= @membership.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Team</dt>
  <dd><%= @membership.team_id %></dd>

  <dt>Student</dt>
  <dd><%= @membership.student_id %></dd>

</dl>
