<div class="page-header">
  <h1>Enrolment #<%= @enrolment.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Team</dt>
  <dd><%= @enrolment.class_id %></dd>

  <dt>Student</dt>
  <dd><%= @enrolment.student_id %></dd>

</dl>
