<div class="page-header">
  <h1>Student #<%= @student.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @student.name %></dd>

  <dt>Email</dt>
  <dd><%= @student.email %></dd>

  <dt>Program</dt>
  <dd><%= @student.program_id %></dd>

</dl>
